.catalogFigureContainer {
    min-width: 75%;
    width: 75%;
    height:fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    gap:2.5rem;
    margin-top: 2rem;
}
.catalogFigureRow {
    width: 100%;
   // max-width: 68.25rem;
    display: flex;
    justify-content: space-between;
    height: fit-content;
}
.catalogButton {
    width: 9.75rem;
    padding-left: .5rem;
    height: 2.25rem;
    border-radius: 42px;
    border: 1px solid #efefef;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color:#fff;
    font-family: DM Sans;
    font-weight: 400;
}
.catalogFigureFooter {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 3.25rem;
    justify-content: center;
}
.catalogItemContainer {

    //width: 30rem;
    width: 47.75%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.catalogItemContainerAlt {
    width: 30.14%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.catalogItemHeaderWrapper {
    margin-bottom: 24px;
    width: 100%;
}
.catalogItemHeader {
    font-size: 20px;
    font-weight: 600;
    font-family: DM Sans;
    letter-spacing: var(--subheader-spacing);
    color:#fff;
}
.catalogFigureWrapper {
    width: 100%;
    height: 420px;
    aspect-ratio: 850 / 1050;
    border-radius: 4px;
    display: flex;
}
.catalogFigureWrapperAlt {
    width: 100%;
    border-radius: 4px;
    display: flex;
    aspect-ratio: 850 / 1050;
    object-fit: cover;
}
.catalogFigure {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;

}

.catalogFigureImage {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    z-index: 0;
    object-fit: cover;
    object-position: 50% 50%;
    transition: all .3s ease-in-out;
    filter: brightness(1);
    transform: scale(1);
}
.catalogFigureImage:hover {
    filter: brightness(.7);
    transform: scale(1.06);
}
.catalogItemDescription {
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap:16px;
    margin-top: 26px;
    width: 100%;
}
.catalogItemLink {
    color:#bbb;
    font-weight: 500;
    transition: all .15s linear;
}
.catalogItemLink:hover {
    color:#fff;
}
.catalogItemCategories {
    width: 100%;
}
.catalogSubtextWrapper {
    width: 100%;
}
.catalogItemSubtext {
    font-size: 18px;
    font-weight: 400px;
    font-family: DM Sans;
    color: #909090;
    letter-spacing: var(--subtext-spacing);
    z-index: 0;
}
.catalogPageHeader {

}
.catalogPageCanvas {
    background-size: cover;
    background-position: center;
}


.catalogPageHeaderWrapper {
    width: 100%;
    height: 25rem;
    display: flex;
    flex-direction: column;
}
.catalogPageHeaderContainer {
    display: flex;
    flex-direction: column;
    width: 87%;
   // max-width: 76.25rem;
    //margin-top: auto;
    align-self: center;
    margin-top: 6.625rem;
    gap:1rem;
    z-index: 0;
}
.catalogHeaderText {
    color: #fff;
    font-weight: 800;
    font-size: 5rem;
    letter-spacing: -2.5px;
    font-family: DM Sans;
    z-index: 1;
}
.catalogHeaderSubtext {
    color: #aaa;
    font-weight: 500;
    font-size: var(--text-regular);
    letter-spacing: var(--subheader-spacing);
    font-family: DM Sans;
    padding-left: 1px;
    z-index: 1;
}
.catalogPageContent {
    min-width: 76.25%;
    width: 87%;
    margin-top: 3.625rem;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:4rem;
    padding-bottom: 4rem;
}
.catalogPageContentRow {
    display: flex;
    width: 100%;
    gap:4.78%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.catalogCurve {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}
.catalogCurve::after {
  content: "";
  position: absolute;
  inset: 0;
  background: white;
  filter: url(#grain);
  pointer-events: none;
  mix-blend-mode: multiply; 
  opacity: 0.15; 
}

.catalogBlob {
  height: 0vh;
  width: 100vw;
  position: absolute;
  left: 0; 
  transform: translateY(-75%);
  right: 0; 
  opacity: 0.5;
  margin-left: auto; 
  margin-right: auto; 
  filter: blur(100px);
  z-index: 0;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  overflow-y: hidden;
  background: radial-gradient(#37e98766,#3cff9433, #68ff8e00);
}
.animate {
  animation-name: animate-glow;
  animation-duration: 1s;
  animation-delay: .5s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}
.navbarContentContainer {
  width:87%;
  display: flex;
  z-index: 2;
  align-items: center;
  height: fit-content;
  align-self: center;
  justify-content: space-between;
}
.navbarContentLinks {
    display: flex;
    gap:2.75rem;
    align-self: center;
}
.navbarContentSmall {
    font-size: var(--text-small);
    color:"#aaa";
    font-family: DM Sans;
    letter-spacing: var(--subtext-spacing);
    font-weight: 400;
    transition: all .15s linear;
}
.navbarContentSmall:hover {
    color:#ababab !important;
}



@keyframes animate-glow {
  from{
    height: 0vh;
    opacity: 0.5;
  } to {
    height: 100vh;
    opacity: 1;
  }
}

@media (min-width: 1800px) {
    .catalogFigureContainer {
        min-width: 60%;
        width: 60%;
        margin-top: 4.5rem;
    }
}
@media  (max-width: 1200px) {
    .navbarContentLinks {
        display: none;
    }
}
@media  (max-width: 960px) {
    .catalogHeaderText {
        font-size: clamp(
        4rem, 9vw, 5rem
        );
        letter-spacing: -2px;
    }
    .catalogItemContainerAlt {
        width: 100%;
        margin-bottom: 5.3rem;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .catalogPageContent {
       // width: 100%;
        margin-top: 3.625rem;
        display: flex;
        flex-direction: row;
        gap:4.78%;
        padding-bottom: 4rem;
    }
    .catalogPageContentRow {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .catalogPageContentRow {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap:4.78%;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .catalogItemDescription {
        display: flex;
        flex-direction: column;
        height: fit-content;
        gap:14px;
        margin-top: 26px;
        width: 100%;
    }
    
}
@media  (max-width: 768px) {
    .catalogFigureRow {
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: fit-content;
        gap:3rem;
        flex-direction: column;
        align-items: center;
    }
    .catalogItemContainer {
        width: 100%;
    }
    .catalogPageContent {
        flex-direction: column;
        width: 81.33%;
        margin-top: 3.625rem;

    }
    .catalogPageHeaderContainer {
        width: 81.33%;
        margin-top: auto;
    }
}
@media  (max-width: 620px) {
    .catalogItemContainer {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .catalogItemContainmerAlt {
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .catalogFigureWrapper {
        width: 100%;
        border-radius: 4px;
        display: flex;
    }
    .catalogFigureWrapperAlt {
        width: 100%;
        border-radius: 4px;
        display: flex;
    }
    .catalogFigureRow {
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: fit-content;
        gap:3.5rem;
        flex-direction: column;
        align-items: center;
    }
    .catalogItemDescription {
        display: flex;
        flex-direction: column;
        height: fit-content;
        gap:16px;
        text-align: left;
        margin-top: 26px;
        width: 100%;
        padding-left: 1px;
    }
}
@media  (max-width: 368px) {
    .catalogHeaderText {
        font-size: 3.75rem;
    }
}