@font-face {
  font-family: 'Baunk';
  src: url('../public/fonts/Baunk.ttf') format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
.main {
  width: 100vw;
  height: 100vh;
  margin:0;
  flex:1;
  overflow-x: hidden;
  overflow-y: auto;
}
.canvasContainer {
  width: 100%;
  overflow-x: hidden;
  height: fit-content;
  display: flex;
  opacity: 0;
  z-index: 2;
  flex-direction: column;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.contentContainer {
  width: 100%;
  overflow-x: hidden;
  height: fit-content;
  display: flex;
  z-index: 1;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
 // padding-top: 14rem;
}

// text styles
.navbarLogoText {
  font-family: Baunk;
  font-size: var(--text-regular);
  font-weight: 400;
  transform: translateY(2px);
  color:var(--text-color);
  text-transform: uppercase;
}
.navbarSubtext {
  font-family: var(--default-font);
  color:var(--text-color);
  font-size: var(--text-regular); 
  font-weight: 350;
  transform: scaleY(.98);
}
.heroHeaderText {
  font-family: var(--default-font);
  font-size: var(--text-hero-header);
  letter-spacing: var(--header-spacing);
  line-height: auto;
  font-weight: 590;
  user-select: none;
  color:var(--text-color);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  display: inline;
 // margin-top: 1rem;
}
.heroHeaderTextAlt {
  transform: rotate(-1.5deg) translateY(-1.5px);
}
.heroHeaderSubtext {
  font-family: var(--default-font);
  font-size: var(--text-regular);
  letter-spacing: var(--subtext-spacing);
  line-height: auto;
  font-weight: var(--text-weight-regular);
  color:var(--subheader-color);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}
.buttonTextSmall {
  font-family: var(--default-font);
  font-size: var(--text-button-small);
  letter-spacing: var(--subtext-spacing);
  line-height: auto;
  font-weight: var(--text-weight-bold);
  //color:var(--text-color);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}
.sectionHeaderText {
  font-family: var(--default-font);
  font-size: var(--text-section-header);
  letter-spacing: var(--header-spacing);
  line-height: auto;
  font-weight: var(--text-weight-bold);
  color:var(--text-color);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}
.subheaderText {
  font-family: var(--default-font);
  font-size: var(--text-regular);
  letter-spacing: var(--subtext-spacing);
  line-height: auto;
  font-weight: var(--text-weight-medium);
  color:var(--subheader-color);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}
.processHeaderText {
  font-family: var(--default-font);
  font-size: var(--text-large);
  letter-spacing:-1.18px;
  line-height: 47.3px;
  font-weight: var(--text-weight-bold);
  color:var(--text-color);
}
.processSubtext {
  font-family: var(--default-font);
  font-size: var(--text-regular-alt);
  line-height: var(--subtext-height);
  font-weight: var(--text-weight-regular);
  color:var(--subtext-color);
}
.processFigureText {
  font-family: var(--default-font);
  font-size: var(--text-small);
  line-height: auto;
  letter-spacing:var(--subtext-spacing);
  font-weight: var(--text-weight-medium);
  color:var(--text-color);
}
.serviceTitleText {
  font-family: var(--default-font);
  font-size: var(--text-regular);
  letter-spacing: var(--header-spacing);
  line-height: auto;
  font-weight: var(--text-weight-medium);
  color:var(--text-color);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.serviceSubtext {
  font-family: var(--default-font);
  font-size: var(--text-small);
  letter-spacing: var(--header-spacing);
  line-height: auto;
  font-weight: var(--text-weight-medium);
  color:var(--subtext-color-dark);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.appointmentButtonText {
  font-family: var(--default-font);
  font-size: var(--text-button);
  letter-spacing: var(--subtext-spacing);
  line-height: auto;
  font-weight: var(--text-weight-bold);
  background: var(--theme-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}
.mostPopularText {
  font-family: var(--default-font);
  font-size: var(--text-detail);
  letter-spacing: var(--subheader-spacing);
  color:#0a0a0a;
  font-weight: var(--text-weight-bold);
}
.pricingTitleText {
  font-family: var(--default-font);
  font-size: var(--text-medium);
  letter-spacing: var(--subheader-spacing);
  line-height: auto;
  font-weight: var(--text-weight-bold);
  color:var(--text-color);
}
.pricingSubtitleText {
  font-family: var(--default-font);
  font-size: var(--text-xs);
  letter-spacing: var(--subheader-spacing);
  line-height: auto;
  font-weight: var(--text-weight-medium);
  color:var(--subtext-color-darker);
}
.pricingFigureText {
  font-family: var(--default-font);
  font-size: var(--text-larger);
  letter-spacing: var(--subheader-spacing);
  line-height: auto;
  font-weight: var(--text-weight-bold);
  color:var(--text-color);
}
.pricingMonthText {
  font-family: var(--default-font);
  font-size: var(--text-small);
  letter-spacing: var(--subheader-spacing);
  line-height: auto;
  font-weight: var(--text-weight-medium);
  color:var(--subtext-color-darker);
}
.pricingFeatureText {
  font-family: var(--default-font);
  font-size: var(--text-xxs);
  letter-spacing: var(--subheader-spacing);
  line-height: auto;
  font-weight: var(--text-weight-medium);
  color:var(--subtext-color-darker);
}
.pricingButtonText {
  font-family: var(--default-font);
  font-size: var(--text-button-medium);
  letter-spacing: var(--smallest-spacing);
  line-height: auto;
  font-weight: var(--text-weight-bold);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  //color:var(--text-color)
}
.testimonialHeader {
  font-family: var(--default-font);
  font-size: var(--text-smaller);
  line-height: 25px;
  font-weight: var(--text-weight-bold);
  color:var(--text-color);
}
.testimonialSubheader {
  font-family: var(--default-font);
  font-size: var(--text-smaller-alt);
  line-height: auto;
  font-weight: var(--text-weight-regular);
  color:var(--subtext-color-darker);
}
.testimonialSubtext {
  font-family: var(--default-font);
  font-size: var(--text-smallest);
  line-height: 18.1px;
  font-weight: var(--text-weight-regular);
  color:var(--subheader-color);
}
.faqsSubheader {
  font-family: var(--default-font);
  font-size: var(--text-regular);
  letter-spacing: var(--subtext-spacing);
  line-height: 164%;
  font-weight: var(--text-weight-medium);
  color:var(--subheader-color);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}
.faqsHeader {
  font-family: var(--default-font);
  font-size: var(--text-medium);
  letter-spacing: var(--subtext-spacing);
  line-height: 121.6%;
  font-weight: var(--text-weight-medium);
  color:var(--text-color);
}
.faqsSubtext {
  font-family: var(--default-font);
  font-size: var(--text-regular);
  letter-spacing: var(--subtext-spacing);
  line-height:  121.6%;
  font-weight: var(--text-weight-regular);
  color:var(--subtext-color);
}
.footerButtonText {
  font-family: var(--default-font);
  font-size: var(--text-button-large);
  letter-spacing: var(--subtext-spacing);
  line-height: auto;
  font-weight: var(--text-weight-bold);
  //color: var(--text-color);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}
.footerLogoText {
  font-family: Baunk;
  color: var(--subtext-color-darker);
  font-size: var(--text-regular);
  font-weight: var(--text-weight-regular);
  line-height: auto;
  transform: translateY(2px);
  text-transform: uppercase;
}
.footerNavText {
  font-family: var(--default-font);
  font-size: var(--text-small);
  letter-spacing: var(--subtext-spacing);
  line-height: auto;
  font-weight: var(--text-weight-medium);
  color:var(--subtext-color-darker);
  text-align: center;
}

// navbar
.navbarContainer {
  display: flex;
  height: fit-content;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 3rem;
  left:0;
  right:0;
  position: absolute;
}
.navbarContentContainer {
  width: 75%;
  display: flex;
  padding-right: 1rem;
  margin-right: 2.5rem;
  align-items: center;
  height: fit-content;
  justify-content: space-between;
}
.logoImage {
  transform: translateY(-.5px);
}
.logoContainer {
  display: flex;
  align-items: center;
  gap: 1.125rem;
}
.navbarSubtextContainer {
  display: flex;
  width: auto;
}
.heroHighlight {
  background-color: rgba(51,154,86,.7);
  transform: rotate(1.5deg) translateY(1.5px);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 4.5rem;
  border-radius: 5px;
  width: fit-content;
  padding-left: .625rem;
  padding-right: .625rem;
  margin-left: .6rem;
  margin-right: .5rem;
}


// hero section
.heroContentWrapper {
  width: 85.76%;
  height:43rem;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  display: flex;
  //background-color: red;
  align-items: center;
  justify-content: center;
  align-self: center;
  overflow: hidden;
  background-image: var(--hero-gradient);
}
.heroCanvasContainer {
  width: 100%;
  height:100%;
  background-image: url('/assets/grid.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  //mix-blend-mode: overlay;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.heroPrintContainer {
  width: 100%;
  height:43rem;
  background-image: url('/assets/prints.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: overlay;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.heroTextContainer {
  width: 64.77%;
  height: fit-content;
  display: flex;
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  //background-color: red;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}

.heroButtonContainer {
  display: flex;
  width: fit-content;
  gap:17px;
  align-items: center;
  margin-top: 2rem;
  align-self: center;
  justify-content: center;
}
.heroStartButton {
  border-radius: var(--button-radius-small);
  background-color: var(--button-color);
  color:#fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1.375rem;
  padding-right: 1.375rem;
  padding-top: 0px;
  height: 2.175rem;
  width: fit-content;
}
.heroLearnButton {
  border-radius: var(--button-radius-small);
  background-color: #fff;
  color:#000;
  display: flex;
  align-items: center;
  padding-top: 0px;
  justify-content: center;
  padding-left: 1.375rem;
  padding-right: 1.375rem;
  height: 2.175rem;
  width: fit-content;
}

// carousel section

.carouselSection {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:2.25rem;
  margin-top: 2.625rem;
}
.carouselContentContainer {
  width: 80.83%;
  height: 7.64rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  gap: 2.125rem;
  mix-blend-mode: luminosity;
}
.circleocIcon {
  background-image: url('/assets/circleoc.svg');
  background-position: center;
  width: 6.6rem;
  height: 7.11rem;
}
.nebulaIcon {
  background-image: url('/assets/nebula.svg');
  background-position: center;
  width: 6.22rem;
  height: 5.6rem;
}
.dashbillIcon {
  background-image: url('/assets/dashbill.svg');
  background-position: center;
  width: 7.24rem;
  height: 6.35rem;
  filter: saturate(0);
}
.ksigIcon {
  background-image: url('/assets/ksig.svg');
  background-position: center;
  width: 5.8325rem;
  height: 6.56rem;
}
.peakingduckIcon {
  background-image: url('/assets/peakingduck.svg');
  background-position: center;
  width: 8.73rem;
  height: 7.64rem;
}
.legacyIcon {
  background-image: url('/assets/legacy.svg');
  background-position: center;
  width: 7.66rem;
  height: 6.05rem;
}
.trukaIcon {
  background-image: url('/assets/truka.svg');
  background-position: center;
  width: 4.89rem;
  height: 5.07rem;
}